{% extends 'base.html' %}
{% block content %}
<h2>Employee List</h2>
<a href="{% url 'employee_create' %}">Add New Employee</a>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Date of Joining</th>
        <th>Salary</th>
        <th>Actions</th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.date_of_joining }}</td>
        <td>{{ employee.salary }}</td>
        <td>
            <a href="{% url 'employee_update' employee.id %}">Edit</a>
            <a href="{% url 'employee_delete' employee.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
